body {
    font-family: Arial, sans-serif;
    background-image: url("coverGameArt.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    color: #ff7d04;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.hidden {
    display: none;
}

#main-screen, #instructions-screen, #game-container {
    text-align: center;
    width: 80%;
    max-height: 600px;
    height: 20%;
    max-width: 600px;
    padding: 20px;
    position: absolute;
    margin-bottom: 0%;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #555;
    color: #ff6804;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

#game-output {
    height: 70%;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #333;
    border: 1px solid #444;
}

#game-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    background-color: #555;
    color: #f78b10;
    font-size: 16px;
    margin-bottom: 0px;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #555;
}